<div class="container">
  <div class="row">
    <div class="col-sm">
      {{multi-select elements=model.dispoItems selectedIds=model.dispoItemsIds_}}
      <ul>
        {{#each model.dispoItems_ as |elm|}}
          <li>{{elm.title}}</li>
        {{/each}}
      </ul>
      {{multi-select elements=model.includedItems}}
    </div>
  </div>



</div>


{{outlet}}
